@import "./../../assets/style/variable.scss";
@import "./../../assets/style/base.scss";
.head {
  height: $headHeight;
  width: 100%;
  background: $bg;
  position: relative;

  .nav {
    height: $headHeight;
    line-height: $headHeight;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;

    a {
      color: #fff;
      margin: 0 10px;
    }
  }

  .search-btn {
    width: $headHeight;
    height: $headHeight;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: $headHeight;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }

  .menu {
    width: $headHeight;
    height: $headHeight;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    line-height: $headHeight;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }
}
