@import './../../assets/style/variable';

.c-header {
  width: 100%;
  height: $headHeight;
  background: $bg;
  position: relative;

  h1 {
    text-align: center;
    line-height: $headHeight;
    font-size: 18px;
    color: #fff;
    font-weight: normal;
  }

  .return {
    width: $headHeight;
    height: $headHeight;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: $headHeight;
  }
}
