@import "./../../assets/style/variable";

.music-list {}

.m-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $headHeight;
  z-index: 10;

  .back {
    width: $headHeight;
    height: $headHeight;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: $headHeight;
    font-size: 14px;
    color: #ccc;
  }

  h1 {
    text-align: center;
    line-height: $headHeight;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
  }
}

.bg-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 70%;
  transform-origin: top;
  background-size: cover;

  .play-wrapper {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;

    .play-btn {
      width: 130px;
      height: 24px;
      display: block;
      margin: 0 auto;
      border-radius: 12px;
      border: 1px solid $bg;
      line-height: 24px;
      font-size: 14px;
      color: $bg;
      text-align: center;
    }
  }
}

.list {
  background: #fff;
}

.bg-layer {
  position: relative;
  height: 100%;
  background: #fff;
}

.scroll-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto !important;
  overflow: inherit !important;
}

