@import "./../../../assets/style/variable";
.mv-wrapper {}
.mv {
  width: 100%;
  margin-bottom: 8px;

  .mv-pic {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .mv-data {
    font-size: 14px;
    color: $titColor;
  }
}

/*loading*/
.loading-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -24px;
}
