@import "./../../assets/style/variable";

.play-bg {
  background: #000;

  .play-bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.6;
    filter: blur(20px);
  }
}


.top {
  width: 100%;
  height: 80px;
  position: relative;

  .back {
    width: $headHeight;
    height: $headHeight;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: $headHeight;
    font-size: 14px;
    color: #999;
  }

  h1 {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: $headHeight;
    color: #ccc;
  }

  h2 {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    color: #999;
  }
}

.middle {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 170px;

  .middle-l {
    width: 100%;
    padding-top: 80%;
    height: 0;
    position: relative;

    .cd-wrapper {
      position: absolute;
      top: 0;
      left: 10%;
      width: 80%;
      height: 100%;

      .cd {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;

        &.play {
          animation: rotate 20s linear infinite
        }
        &.pause {
          animation-play-state: paused
        }

        img {
          width: 100%;
          height: 100%;
          border: 10px solid rgba(255, 255, 255, 0.1);
          border-radius: 50%;
          box-sizing: border-box;
          display: block;
        }
      }
    }
  }
}

.bottom {
  position: absolute;
  bottom: 50px;
  width: 100%;

  //进度条
  .progress-wrapper {
    margin-right: 20px;
    margin-left: 20px;

    .progress-bar-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      .p-time {
        width: 36px;
        line-height: 24px;
        font-size: 12px;
        color: #fff;

        &.time-l {
          text-align: left;
        }
        &.time-r {
          text-align: right;
        }
      }

      .progress-bar {
        flex: 1;

        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .bar-inner {
          height: 4px;
          position: relative;
          background: rgba(0, 0, 0, 0.5);

          .progress {
            height: 4px;
            width: 0;
            background: #fff;
          }

          .progress-point {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            top: -6px;
            left: 0;
          }
        }
      }
    }
  }

  //按钮
  .opa-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .opa-btn {
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      font-size: 18px;
      color: #fff;
      border-radius: 50%;
      border: 2px solid #fff;

      &.disable {
        opacity: 0.6;
      }
    }

    .play-btn {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 22px;
      color: #fff;
      border-radius: 50%;
      border: 2px solid #fff;

      &.disable {
        opacity: 0.4;
      }
    }
  }
}

.mini-player {
  height: 60px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;

  .song-pic {
    width: 40px;
    height: 40px;
    //overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;

    .song-pic-rotate {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;

      &.play {
        animation: rotate 20s linear infinite
      }
      &.pause {
        animation-play-state: paused
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: block;
      }
    }
  }

  .song-text {
    flex: 1;

    h3 {
      font-size: 16px;
      font-weight: normal;
      color: $titColor;
      line-height: 24px;
    }

    p {
      font-size: 12px;
      color: #666;
      line-height: 18px;
    }
  }

  .mini-opa {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-right: 10px;
    color: #666;
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    position: relative;

    .btn {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .mini-opa-btn {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #666;
    color: #666;
    line-height: 28px;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
  }
}

//cd动画
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
